html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.MuiDrawer-root .MuiList-root {
  padding: 0 0.8rem;
}

.MuiDrawer-root .MuiList-root .MuiButtonBase-root {
  border-radius: 4px;
  margin-top: 0.4rem;
}

.MuiDrawer-root .MuiList-root .MuiButtonBase-root .MuiListItemIcon-root,
.MuiDrawer-root .MuiList-root .MuiButtonBase-root .MuiListItemText-root {
  color: #666;
}

.MuiDrawer-root
  .MuiList-root
  .MuiButtonBase-root.Mui-selected
  .MuiListItemIcon-root,
.MuiDrawer-root
  .MuiList-root
  .MuiButtonBase-root.Mui-selected
  .MuiListItemText-root {
  color: #3f51b5;
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  display: block !important;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
